<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Consola</title>
</head>
<body>
    <div class="container">
        <div class="front flex">
                <div class="first">
                    <div class="sop-1"></div>
                    <div class="agg"></div>
                    <div class="audio">
                        <div class="flex">
                            <div class="circ"></div>
                            <div class="circ"></div>
                        </div>
                        <div class="flex">
                            <div class="circ"></div>
                            <div class="circ"></div>
                            <div class="circ"></div>
                        </div>
                        <div class="flex">
                            <div class="circ"></div>
                            <div class="circ"></div>
                        </div>
                    </div>
                    <div class="sop-2"></div>
                    <div class="charge">
                        <div class="pre-wifi">
                            <div class="wifi"></div>
                            <div class="wifi-2"></div>
                        </div>
                        <div class="pre-charge">
                            <div class="points">
                                <div class="point"></div>
                                <div class="point"></div>
                            </div>
                            <div class="charge-central"></div>
                            <div class="charge-c"></div>
                        </div>
                        <div class="pre-on">
                            <div class="on-ln"></div>
                            <div class="on-cr"></div>
                        </div>
                    </div>
                </div>          
                <div class="display">
                    <div class="border">
                        <div class="dis"></div>
                    </div>
                </div>
                <div class="first">
                    <div class="sop-1"></div>
                    <div class="agg-2"></div>
                    <div class="audio">
                        <div class="flex">
                            <div class="circ"></div>
                            <div class="circ"></div>
                        </div>
                        <div class="flex">
                            <div class="circ"></div>
                            <div class="circ"></div>
                            <div class="circ"></div>
                        </div>
                        <div class="flex">
                            <div class="circ"></div>
                            <div class="circ"></div>
                        </div>
                    </div>
                    <div class="sop-2"></div>
                </div>  
        </div>
        <div class="separ">
            <div class="sp-rad-l"></div>
            <div class="sep-mid"></div>
            <div class="sp-rad-r"></div>
        </div>
        <div class=" flex middle">
            <div class="efect"></div>
            <div class="leds">
                <div class="led ld1"></div>
                <div class="led ld2"></div>
                <div class="led"></div>
            </div>
            <div class="middle-mid"></div>
            <div class="leds"></div>
            <div class="efect-2"></div>
        </div>
        <div class="flex">
            <div class="bot-complete flex">
                <div>
                    <div class="joystick">
                        <div class="j-top"> <div class="v-line"></div></div>
                        <div class="j-mid">
                            <div class="j-m-l"><div class="h-line"></div></div>
                            <div class="j-m-m"></div>
                            <div class="j-m-r"><div class="h-line"></div></div>
                        </div>
                        <div class="j-bot"><div class="v-line"></div></div>
                    </div>
                    <div class="power-button flex">
                        <div class="text">POWER</div>
                        <div class="pre-on pwr">
                            <div class="pwr-ln"></div>
                            <div class="pwr-cr"></div>
                        </div>
                    </div>
                </div>
                <div class="display-b">
                    <div class="b-border">
                        <div class="b-dis"></div>
                    </div>
                </div>
                <div>
                    <div class="buttons">
                        <div class="b1 flex">X</div>
                        <div class="flex">
                            <div class="flex b2">Y</div>
                            <div class="flex b2">A</div>
                        </div>
                        <div class="b3 flex">B</div>
                        <div class="flex start">
                            <div class="st"></div>
                            <div class="st-t">START</div>
                        </div>
                        <div class="flex select">
                            <div class="st"></div>
                            <div class="st-t">SELECT</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>