body {
    width: 960px;
    display: grid; 
    grid-template-columns: 0.2fr 1.6fr; 
  grid-template-rows:  0.2fr 1.8fr;
    gap: 0px 30px; 
    grid-template-areas: 
    "i1 ."
    "i1 ."; 
}

ul{
    grid-area: i1;
    padding-top: 5em;
}
h1{
    color: green;
    word-spacing: 20px;
    letter-spacing: 4px;
    
}

span{
    color: orange;
}
.text {
    padding-left: 10px;
    border: 1px solid rgb(226, 226, 226);

}
h2{
    color: rgb(99, 255, 47);
    padding-left: 10px;
    text-decoration: underline;
}
h3 {
    color: rgb(255, 181, 43);
    padding-left: 10px;
}
p {
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: #000;
    line-height: 2em;
}
li {
    list-style:none;
    text-align: center;
}
.ini {
    width: 6em;
    background-color: rgb(255, 111, 111);
    opacity: .7;
}

li:hover {
    background-color: rgba(207, 174, 174, 0.764);
    opacity: .7;
}

.fin {
    background-color: rgb(189, 255, 89);
    opacity: .7;
}

