<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="head-letters"><img class="logo" src="img/netflix.png" alt=""></div>
        <div class="head-letters ini">Inicio</div>
        <div class="head-letters">Series TV</div>
        <div class="head-letters">Películas</div>
        <div class="head-letters">Novedades más vistas</div>
        <div class="head-letters">Mi lista</div>
        <div class="head-letters"></div>
        <div class="head-letters">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
        <div class="head-letters">
            <span class="material-symbols-outlined">
                redeem
            </span>
        </div>
        <div class="head-letters">
            <span class="material-symbols-outlined">
                notifications
            </span>
        </div>
        <div class="head-letters">
            <img class="icon" src="https://i.pinimg.com/originals/61/54/76/61547625e01d8daf941aae3ffb37f653.png" alt="">
        </div>
        <div class="head-letters">
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
    </div>
    <div class="container">
        <div class="doc">Populares en Netflix</div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABYljLpRJQa5qdt9afwRm0ensTyUqa2xHcJmme3i5_61yMXr4PkpP9AVLWMm5uxaRnMVjbpwWE2m138C9V50O-G0HT1ZlaziydVz1-g-1UL7yxhQGXMzdRbPA72ADbe0a-6QVbaQaneGaZyhxnlHRFJVyXHNs__tRfYiBxavDEQUccM2S4KJyWbAyrZmLcI-6wqR3hP51_Dn0IQcbIduuGpywr326TF4Je11Tb6T_I7GOEisOoqc5JErmWasqN8kLc06CgiBzr-jPkmhl0g6s6ZcoHzSOAYvLn73a11htefuTh4u4ysNMF1vi88mmATtbmos7qRmJ38qBR1qlXbWY-2hx.webp?r=439" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABTi-Z-OOVWqNJ__mLBhD74JyA0mqt8fEXeljZi4cElfWT_kwoHcMrMFJyLyPIZgopDcAZ_9CXUOi538nMJ39xCw_pf7yaWfoonRw6J2Um3dfDIpOZ3q0-1Hw3_bzMbXJYzFr.jpg?r=265" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWk3SmuNybba2ta6mIFnEZL0C_QaN6Jeg0hKwVa5q4rGef7elLxnBV1bHRumMmG830JJBV0UokdLrdHb9MaxA92PaWAo2POOMtj9huBaBKKA5jThjL_6AB5MzaeHKIYGP_zZoxnenMZsxkRoWbzTJ_mLmgez5VuuMjPhwhIvE8L1Q-53krGnpg77PRfhPwA.jpg?r=50a" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABTk2wVYFh4O7FzJ1b33Y9cJsghXCElcLt0ADJ-KNDS4ShofboNt9dwx7bqMG2xyR45T-I7iHLPZfz7DRatS8lNmCJsU_LNfbg0CFmCjufsUbggdArYNrtT2Lw-xSnUBsh9D77mDTWT5vIuPtba6jhm2w-uEUmAM1nTzO_NlfOU227LoUH8yhYf-O6Ig7uU-8MLSKtF2BZhNqmajGzlw_lQOR_1m6Jw8IHH1Yk7rFuTxyf07gU_0aJAOpS6k9T8LvIYboZt2UT2ZaXOJvnkMRToHOvqqFABulMyLMHPhzQ3GDUEGl0ZC0c3IYrv2aPmogvbY90DoSqUMEFAEirKww-5tC_7xKrQEOAQKMPWupoCSxiAYxbxDx.jpg?r=810" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABX_Rzna67xvuUqcb5jgbkdxxrdL45a3C0lM44RgFAkUc0vC0DwJMykyFNPgwYnSxbW7NMDXYMZP6jJEFSdY9dy5wfVjK6h2NHst2XxDBtzqN0QYcEBb8PhUjtX1Atvppy-yKtj0IXaPuo6m0YQwY847L0KUiLdfkjvgJFh_nD-pL5PS_Escxdwrfbj8UYXY5MjEURlNzgnpYY5av_JYUx2XF0mBCAbunuraxHZOF-DCRLpihUJqc1Ye2qX0bV43-UE16MTz8T9rYPXKMUPBKTKEAtSD7i4adYKR8ImzH84X0kHVbHGYzCtiGF0_DUjBtdDZjGDOoG0JHFC2L7llx2C6uSgmMmPUS3A8X8ZSDh6RegZMwsaBR.jpg?r=d99" alt=""></div>
        <div class="space1"></div>
        <div class="vol">Volver a ver</div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABYljLpRJQa5qdt9afwRm0ensTyUqa2xHcJmme3i5_61yMXr4PkpP9AVLWMm5uxaRnMVjbpwWE2m138C9V50O-G0HT1ZlaziydVz1-g-1UL7yxhQGXMzdRbPA72ADbe0a-6QVbaQaneGaZyhxnlHRFJVyXHNs__tRfYiBxavDEQUccM2S4KJyWbAyrZmLcI-6wqR3hP51_Dn0IQcbIduuGpywr326TF4Je11Tb6T_I7GOEisOoqc5JErmWasqN8kLc06CgiBzr-jPkmhl0g6s6ZcoHzSOAYvLn73a11htefuTh4u4ysNMF1vi88mmATtbmos7qRmJ38qBR1qlXbWY-2hx.webp?r=439" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABZoxEdcNRl1t7ZWg4giY9OZCR9P59Kl1W17ufmfpoCRqALN6DofZrsR-v3g4mXBF_ylDjj7aQ3WLogfOdBOKDc9oR6k58Xf4_AAqT7U9PoVsXyBhTNYDkNVcQ97fhtnJcJ5f.jpg?r=45d" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWn79_J5RX6RVPZZgpoOpiTPeFcYbli93X4LvjYbTJXnFKl17D1DumeVnfFVLudkqjZDfMsGlAQy5hbcPVvOS3Hqcc3o2b5JboJXUCngagMf7Rot6rZjQVphk4eB8z7vKu-O9olQgL-skbH_WThQjOmiu4C4KddJHye6wPqjr6mlT20SjKg9A9UY9xD__yk.jpg?r=6db" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABXps6A66kd-1OfeSjYMB8cobA8zTutHZCNgQFh-V2n9MxAoPh2QJjWw7FGYsbXGJzrbMSizhEkA5kVSTf2U61TtXh1KGlLiIcaM.webp?r=733" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABTgU9R5sGHALBteXEbz-l7wKb5gRf_kh2As8WLSk6xlYt3sfOC72Q_8vIxGny6eNwOas8D_3nN92QBI0S6CE9EWj3H7GEeMnwbKKY8YoTEmEXVbBswEkfQ6t0_Thyf0feq94ADKOP1GmY--Q49KVuQEPjNH_iDvmhY_4k1aAPFPZeQFiBQNT2tBzb0J8pdo.jpg?r=6ca" alt=""></div>
        <div class="space2"></div>
        <div class="ten">Tendencias ahora</div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABYW2QXX4JQMG5yMuidu9q9gpIECcMyxvru9vaDe1N6wOIPYrky7Qeln1aJOafiFouy3eRjVrlsAyRM8QSOBDMXYatF00fyGSHAU.webp?r=c95" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABfqusVLCZZWmMjHmPbYP5dwo1DSTEMwjr94IXW-pywc7YuwJ_fPOtxExCuLa4IAge22XV1p_Aa-neHOhdKL6OcVPJPghvm5Sc0AkxJp33UaIrZlqBvl2TUnr7EskMiVZLDtg.jpg?r=953" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABaO2_LIcxJdf15jAAirv6DGaZGRuk6G9am0gpuQj89yRJe0bVYW1_FlpYWV7NoEhvbPkasucQK_f0rNHW0gjauGoNdeOsKuYA2A.webp?r=e1e" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABbh7jjuQATmMlkCmB0YxRj6qyCflBDV7V_6dlkBcaPJzDaAZZ1bIDqPACb9qTzaHt7bJmxHoqoM4SUO92b6q__CDPde_6ij8gH_P0PhHD_hFglUikN0lUgQriQFCUiimwvOI.jpg?r=9e7" alt=""></div>
        <div class="peli"><img class="img" src="https://occ-0-4695-358.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQ3r2EdFtpxlfwkFvPYyG6mAicyYp0DUgOB4-YPAMjXnBoTZ_aXlkOMP22fI_SWxBrGkqVs3W3VkGLi-4-SHtnuG9LVSdpIlBWGicPHlGdwPSSHGAOBuRq-da_A6K-1CfizvQ-vOxe1GsVVkIfAYi7CC1_1URvh08e0UtP8ru0eNDRthHvG8FUB5Od_PNFMFtIeR7qV_SfVHlmf08mTLF-81JWsOOpXj-LQFkVZW_XgvkdibaOmOf8jBhWwXEdf3RewpmFX4BlVu1HHNBZDUmWdAp_hoGPYzo-HppM1bwh-eEAk1IjHDWE2Q-g.jpg?r=5c5" alt=""></div>
    </div>
</body>
</html>