<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Google</title>
</head>
<body>
    <header>
        <div class="head">
            <div><a class="aColor" href="https://about.google/?fg=1">Sobre Google</a></div>
            <div><a class="aColor" href="https://store.google.com/ES/?hl=es-ES&pli=1">Tienda</a></div>
        </div>
        <div class="head he2">
            <div><a class="aColor" href="https://mail.google.com/">Gmail</a></div>
            <div><a class="aColor" href="https://www.google.es/imghp?hl=es">Imágenes</a></div>
            <div>
                <span class="material-symbols-outlined apps">
                apps
                </span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </div>
        </div>
    </header>
    <main>
        <div class="google-image-div">
            <img class="google-img" src="https://www.google.es//images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="">
        </div>
        <div class="search-div">
            <div class="search">
                <span class="material-symbols-outlined search-butt">
                    search
                </span>
                <input class="space" autofocus>
                <span class="material-symbols-outlined mic">
                    mic
                </span>
                <span class="material-symbols-outlined camara">
                    photo_camera
                </span>
            </div>
        </div>
        <div class="search-buttons">
            <button>Buscar con Google</button>
            <button>Voy a tener suerte</button>
        </div>
        <div class="languages">
            Ofrecido por Google en: 
            <a href="./">català</a>
            <a href="./">galego</a>
            <a href="./">euskara</a>
        </div>
        <div class="only-space"></div>
    </main>
    <footer>
        <div class="local">España</div>
        <hr>
        <div class="green-google">
            <a href="./">Publicidad</a>
            <a href="./">Empresa</a>
            <a href="./">Cómo funciona la Búsqueda</a>
            <img class="green" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC" alt="">
            <a class="emision" href="./">Emisión neutra de carbono desde el 2007</a>
            <a href="./">Privacidad</a>
            <a href="./">Términos</a>
            <a href="./">Configuración</a>
        </div>
    </footer>
</body>
</html>